.scope--status-bar{
  position: fixed;
  top: 0;
  margin: 0 50%;
  transform: translateX(-50%);
  >span{
    margin: 1rem;
    padding: .6rem 1.8rem;
    border-radius: .3rem;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, .4);
    font-size: .85rem;
    background: white;
    display: block;
    min-width: 10rem;
    animation: fade-out 4s linear forwards;
    opacity: 0;
    text-align: center;
    &.err{
      background: #ffe4e4;
      border: 1px solid #ff9595;
    }
    &.succ{
      background: #e6fff4;
      border: 1px solid #96fcff;
    }
    &.warn{
      background: #fff5e4;
      border: 1px solid #ffd191;
    }
  }
  @keyframes fade-out {
    0%{
      opacity: 0;
    }
    10%{
      opacity: 1;
    }
    90%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      display: none;
    }
  }
}